[Desktop Entry]
Name=Element
Comment=Element is a decentralized, secure messaging client for collaborative group communication.
GenericName=Group Messaging
Exec=io.element.element.wrapper.sh %U
Terminal=false
X-MultipleArgs=false
Type=Application
Categories=Network;InstantMessaging;Chat;VideoConference;
MimeType=x-scheme-handler/element;
StartupWMClass=Element
StartupNotify=true
Icon=io.element.element

# .desktop spec: https://www.freedesktop.org/wiki/Specifications/desktop-entry-spec/
# .metainfo.xml spec: https://www.freedesktop.org/software/appstream/docs/

