[Desktop Entry]
Name=Riot
Comment=Riot is a decentralized, secure messaging client for collaborative group communication.
GenericName=Group Messaging
Exec=riot.wrapper.sh
Terminal=false
X-MultipleArgs=false
Type=Application
Categories=Network;Chat;
#MimeType=text/plain;
StartupNotify=true
Icon=riot
X-Desktop-File-Install-Version=0.23

