[Desktop Entry]
Name=Riot
Comment=Riot is a decentralized, secure messaging client for collaborative group communication.
GenericName=Group Messaging
Exec=env XDG_CURRENT_DESKTOP=Unity /usr/bin/riot
Terminal=false
X-MultipleArgs=false
Type=Application
Categories=Network;Chat;
#MimeType=text/plain;
StartupNotify=true
Icon=riot
